// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.picture_container {
  margin: 2rem auto;
  padding: 0.5rem;
  width: 60%;
  background-color: white;
  border: ridge black 1px;
}
p {
  padding-top: 0.5rem;
}
.posted_picture {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.card input:not([type="submit"]), textarea {
  width: 90%;
  margin: 0.5rem 1rem;
}
