// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.connection_image {
  width: 120%;
  height: 100%;
  margin-left: -10%;
}
.login-container {
  margin: auto;
  margin-top: 10%;
}
.login_form {
  background-color: white;
  padding-top: 2rem;
}
